<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/accountgroups/new"}>
      <.button>Kontengruppe erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if @has_accountgroups? do %>
    <.table
      id="accountgroups"
      rows={@streams.accountgroups}
      row_click={fn {_id, accountgroup} -> JS.navigate(~p"/accountgroups/#{accountgroup}") end}
    >
      <:col :let={{_id, accountgroup}} label="Bezeichnung">{accountgroup.accountgroupname}</:col>
      <:action :let={{_id, accountgroup}}>
          <.link navigate={~p"/accountgroups/#{accountgroup}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine Kontengruppen erstellt.<br />
    </p>
  <% end %>
</.card>

<.back navigate={~p"/clubs/#{@club}/accounts"}>
  Zurück zum Kontenplan
</.back>
