<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/journal/#{@accounting_transaction}/edit"} phx-click={JS.push_focus()}>
      <.button :if={!@deleted? && !@pending? && !@posted? && !@voided?}>Buchung bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Beschreibung">
      {format_string_field(@accounting_transaction.description)}
    </:item>
    <:item title="Referenz">
      {format_string_field(@accounting_transaction.reference)}
    </:item>
    <:item title="Status">
      {status_label(@accounting_transaction.status)}
    </:item>
    <:item title="steuerrechtliche Sphäre">
      {sphere_label(@accounting_transaction.sphere)}
    </:item>
    <:item title="Belegdatum">
       {format_date_field_dmy(@accounting_transaction.document_date)}
    </:item>
    <:item :if={!@deleted?} title="Gebucht am">
      {if @accounting_transaction.posted_at,
        do: Calendar.strftime(@accounting_transaction.posted_at, "%d.%m.%Y"),
        else: "-"}
    </:item>
    <:item :if={@deleted?} title="Gelöscht am">
      {if @accounting_transaction.deleted_at,
        do: Calendar.strftime(@accounting_transaction.deleted_at, "%d.%m.%Y"),
        else: "-"}
    </:item>

    
  </.list>

  <br/>
  <.card>
    <.header>Buchungen</.header>
    <%= if @accounting_transaction.entries == [] do %>
      <p>Keine Buchungszeilen vorhanden.</p>
    <% else %>
      <.table
        id="entries"
        rows={@accounting_transaction.entries}
      >
        <:col :let={entry} label="Konto">
          {entry.account.accountname}
        </:col>
        <:col :let={entry} label="Betrag">
          {display_money(entry.amount)}
        </:col>
        <:col :let={entry} label="Beschreibung">
          {format_string_field(entry.description)}
        </:col>
      </.table>
    <% end %>
  </.card>

  <br />

  <.card :if={@pending? || @posted?}>
  <%!-- Buttons nur bei :pending --%>
    <.button :if={@pending?} class="bg-green-600 hover:bg-green-700" phx-click="post" data-confirm="Buchung freigeben?">
      Buchung freigeben
    </.button>
    <.button
      :if={@pending?}
      class="bg-rose-700 hover:bg-rose-800"
      phx-click="revert_to_draft"
      data-confirm="Buchung zur Überarbeitung zurückgeben?">
      Buchung nicht freigeben
    </.button>


  <div class="flex justify-end">
    <.button
      :if={@posted? && !@voided?}
      class="bg-rose-700 hover:bg-rose-800"
      phx-click="void"
      data-confirm="Buchung unwiderruflich stornieren?">
        Stornieren
    </.button>
  </div>
  </.card>
</.card>



<.back navigate={~p"/clubs/#{@accounting_transaction.club_id}/journal"}>
  Zurück zum Journal
</.back>