<.header>
  Accounttype {@accounttype.id}
  <:subtitle>This is a accounttype record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/accounttypes/#{@accounttype}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit accounttype</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Accounttypename">{@accounttype.accounttypename}</:item>
</.list>

<.back navigate={~p"/accounttypes"}>Back to accounttypes</.back>

<.modal :if={@live_action == :edit} id="accounttype-modal" show on_cancel={JS.patch(~p"/accounttypes/#{@accounttype}")}>
  <.live_component
    module={SportywebWeb.AccounttypeLive.FormComponent}
    id={@accounttype.id}
    title={@page_title}
    action={@live_action}
    accounttype={@accounttype}
    patch={~p"/accounttypes/#{@accounttype}"}
  />
</.modal>
