<.header>
  {@page_title}
  <:actions>
    <.link patch={~p"/accountgroups/#{@accountgroup}/edit"} phx-click={JS.push_focus()}>
      <.button>Kontengruppe bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Bezeichnung">{@accountgroup.accountgroupname}</:item>
  </.list>
</.card>

<.back navigate={~p"/clubs/#{@accountgroup.club_id}/accountgroups"}>
  Zurück zum Kontengruppen
</.back>
